body {
  background:#000;
  color:#fff;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  width:90%;
  max-width:400px;
  padding:20px;
  border-radius:16px;
  border:3px solid;
  border-image: linear-gradient(45deg,#ffd700,#ff9900) 1;
  text-align:center;
}

.logo {
  width:120px;
  margin:auto;
}

button {
  background:#ffd700;
  border:none;
  padding:12px;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.bar {
  width:100%;
  height:10px;
  background:#333;
  border-radius:6px;
  overflow:hidden;
  margin:10px 0;
}

#progress {
  height:100%;
  width:0%;
  background:linear-gradient(90deg,#ffd700,#ff9900);
}
