body {
  margin:0;
  font-family:Arial, sans-serif;
  background:#000;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.card {
  width:90%;
  max-width:720px;
  background:#0c0c0c;
  border-radius:18px;
  padding:30px;
  border: 3px solid;
  border-image: linear-gradient(45deg, #FFD700, #e6c200) 1;
  text-align:center;
}

.logo {
  width:160px;
  margin-bottom:15px;
}

h1 {
  color:#FFD700;
}

.btn {
  margin-top:20px;
  padding:15px 30px;
  font-size:20px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#FFD700,#e6c200);
  color:#000;
  cursor:pointer;
}

.btn:hover { filter: brightness(1.1); }

#timer {
  color:#FFD700;
  font-size:20px;
  margin-bottom:10px;
}
